<template>
  <div>
    <div
      class="alert alert-danger d-flex justify-content-between"
      v-if="showWarning">
      <p>one of the field is empty</p>
      <i class="fas fa-times" @click="closeWarning"></i>
    </div>
      <div class="card w-50 mb-4 m-auto">
        <div class="card-body">
          <form @submit.prevent.enter="addClub">
          <div class="form-group">
            <label for="">Name</label>
            <input
              type="text"
              name="name"
              class="form-control form-control-sm"
              placeholder="Name of the Club"
              v-model='name'>
          </div>
          <div class="form-group">
            <label for="">Nick</label>
            <input
              type="text"
              name="nick"
              class="form-control form-control-sm"
              placeholder="The Nickname of the Club"
              v-model='nick'>
          </div>
          <div class="form-group">
            <label for="">About</label>
            <textarea
              class="form-control form-control-sm"
              rows='4'
              placeholder="About the Club"
              name="decription"
              v-model='description'/>
          </div>
          <button class="btn btn-block btn-secondary">Add</button>
        </form>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'add',
  data() {
    return {
      name: '',
      nick: '',
      description: '',
      showWarning: false
    }
  },
  methods: {
    addClub() {
      if (this.name === "" || this.nick === "" || this.description === "") {
        this.showWarning = true
      } else {
        this.$store.commit('ADD_CLUB', 
        {
          name: this.name,
          nick: this.nick,
          description: this.description
        })
        this.$router.push('/')
      }
    },
    closeWarning() {
      this.showWarning = false
    }
  },
  computed: {}
};
</script>

<style>
</style>
