<template>
  <div class="row my-4">
    <div class="col-sm-6 col-md-4" v-for="club in clubs" :key="club.name">
      <Club
        :name="club.name"
        :nick="club.nick"
        :description="club.description"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Club from "./Club";

export default {
  name: "Clubs",
  components: {
    Club
  },
  computed: {
    ...mapState(["clubs"])
  },
  methods: {
    
  }
};
</script>

<style>
</style>
