<template>
  <div class="card my-3">
    <div class="px-5 py-2 card-head d-flex justify-content-between">
      <i class="far fa-edit" title="edit" @click="editClub(name)"></i>
      <i class="fas fa-times" title="close" @click="deleteClub(name)"></i>
    </div>
    <div class="card-body">
      <h3 class="card-title mb-2 text-muted"  @click="goToClub(name)">{{name}}</h3>
      <h5 class="card-subtitle mb-2">{{nick}}</h5>
      <p class="card-text">{{description.split(' ').splice(0, 10).join(' ')}}</p>
      <a class="card-link">visit our website</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "club",
  data() {
    return {
      toggleModal: false
    }
  },
  props: {
    name: String,
    nick: String,
    description: String
  },
  methods: {
    deleteClub(name) {
      this.$store.commit('DELETE_CLUB', name)
    },
    editClub(name) {
      this.$router.push({name: 'edit', params: {name: name}})
    },
    goToClub(name) {
      this.$router.push({name: 'single-club', params: {name: name}})
    }
  }
};
</script>

<style>
  i, h3 {
    cursor: pointer;
  }
</style>
