<template>
  <div>
    <div
      class="alert alert-danger d-flex justify-content-between"
      v-if="showWarning">
      <p>one of the field is empty</p>
      <i class="fas fa-times" @click="closeWarning"></i>
    </div>
    <div class="card w-50 mb-4 m-auto">
      <div class="card-body">
        <form @submit.prevent="updateClub">
        <div class="form-group">
          <label for="">Name</label>
          <input
            type="text"
            name="name"
            class="form-control form-control-sm"
            placeholder="Name of the Club"
            v-model='club.name'>
        </div>
        <div class="form-group">
          <label for="">Nick</label>
          <input
            type="text"
            name="nick"
            class="form-control form-control-sm"
            placeholder="The Nickname of the Club"
            v-model='club.nick'>
        </div>
        <div class="form-group">
          <label for="">About</label>
          <textarea
            class="form-control form-control-sm"
            rows='4'
            placeholder="About the Club"
            name="decription"
            v-model='club.description'/>
        </div>
        <button class="btn btn-block btn-secondary">Update</button>
      </form>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'single-club',
  data() {
    return {
      club: {},
      showWarning: false
    }
  },
  computed: mapState(['clubs']),
  methods: {
    getClub() {
      this.clubs.forEach(club => {
        if (club.name === this.$route.params.name) {
          this.club = club
        }
      })
    },
    updateClub() {
      if (this.club.name === "" || this.club.nick === "" || this.club.description === "") {
        this.showWarning = true
      } else {
        this.$store.commit('UPDATE_CLUB', {
          payload: this.club.name,
          updatedDetails: {
            name: this.club.name,
            nick: this.club.nick,
            description: this.club.description
          }
        })
        this.$router.push('/')
      }
    },
    closeWarning() {
      this.showWarning = false
    }
  },
  mounted() {
    this.getClub()
  }
}
</script>

<style>

</style>