<template>
  <nav class="navbar navbar-light bg-light mb-4">
    <router-link class="navbar-brand" to='/'>Clubs</router-link>
    <ul class="navbar-nav">
      <li class="nav-item">
        <router-link class="nav-link" to='/add'><i title="add" class="fas fa-plus"></i></router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {

}
</script>
