<template>
  <div class="card w-75 mx-auto my-2">
    <div class="card-header">
      <h1 class="card-title">{{club.name}}</h1>
      <h3 class="card-subtitle">{{club.nick}}</h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{club.description}}</p>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'single-club',
  data() {
    return {
      club: {}
    }
  },
  computed: mapState(['clubs']),
  methods: {
    getClub() {
      this.clubs.forEach(club => {
        if (club.name === this.$route.params.name) {
          this.club = club
        }
      })
    }
  },
  mounted() {
    this.getClub()
  }
}
</script>

<style>

</style>