<template>
  <div class="container">
    <Navigation/>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Navigation from './components/Navigation'

export default {
  name: "App",
  components: {
    Navigation
  },
  computed: {
  }
};
</script>
